@import "partials/variables";
@import "compass";
@import "compass/css3";

@media all {
  body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    background-color: $body_bg_color;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
  }

  #content {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 100px;
    background-color: gainsboro;
    font-size: 2em;
    @include border-radius(20px);

    p {
      margin: 0;
      padding: 0;
    }
  }
}