<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="UTF-8">
        <!--<link rel="icon" type="image/png" href="/images/nbe_favicon.png">-->
        <title>ITG Makerspace</title>
        <link rel="stylesheet" type="text/css" href="/css/index.css">
    </head>
    <body>
        <div id="content">
            <div id="centerbar">
                <p>Välkommna till It Gymnasiets Makerspace</p>
            </div>
        </div>
    </body>
</html>