<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ITG Makerspace - Inköpslista</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/css/shoping_cart.css">
    </head>
    <body>
        <%=erb :'parts/nav_bar'%>
        <div id="content">
            <h1>Här ska man kunna ansöka om att köpa in delar till sina project!</h1>
        </div>
        <%=erb :'parts/footer'%>
    </body>
</html>