<nav>
    <a href="/">
        <img src="/icons/home_icon.svg" alt="Home">
    </a>
    <a href="/projects">
        <div id="menu_project">
            <p>PROJEKT</p>
        </div>
    </a>
    <a href="/about-us">
        <div id="menu_about">
            <p>OM OSS</p>
        </div>
    </a>
    <a href="/shoping-cart">
        <div id="menu_shoping_cart">
            <p>INKÖPSLISTA</p>
        </div>
    </a>
</nav>